@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This website contains Super Heroes.</p>
</div>

<div class="text-center">
    <h1 class="display-4">Batman is my favorite Super Hero!</h1>
    <img class="embed-responsive" src="~/batman.png" />
</div>
